@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?on9dc7');
  src:  url('../fonts/icomoon.eot?on9dc7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?on9dc7') format('truetype'),
    url('../fonts/icomoon.woff?on9dc7') format('woff'),
    url('../fonts/icomoon.svg?on9dc7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
