.modal {
  &__overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 500ms ease;
  }

  &__container {
    background: #FFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    max-width: 800px;
    transition: 500ms ease;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
  }

  &__close {
    @include rem("margin", 10px 0);
    @include rem("padding", 0 30px);
    border: 2px solid #000;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__header {
    @include rem("padding", 20px);
    background: $color-secondary;
    position: relative;
    text-align: center;
  }

  &__body {
    @include rem("padding", 15px);
    overflow: auto;
  }

  .modal-form {
    margin: 0 auto;
    max-width: 600px;

    &__input {
      @include rem("padding", 10px);
      @include rem("margin-bottom", 25px);
      border: 1px solid #D3D3D3;
      display: block;
      width: 100%;
    }

    &__label {
      @include rem("margin-bottom", 15px);
      display: block;
      text-align: left;
    }

    &__submit {
      @include rem("margin-bottom", 15px);
      @include rem("padding", 10px 35px);
      @include rem("font-size", 18px);
      background: lighten($color-primary, 15);
      color: #FFFFFF;
      text-align: center;
      transition: background 500ms;

      &:hover {
        background: lighten($color-primary, 25);
        cursor: pointer;
      }
    }

    &__error {
      color: red;
      position: relative;
      top: -20px;
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  transition: all .3s ease;
}

.modal-leave-active {
  opacity: 0;
  transition: all .5s ease;
}

.modal-enter .modal__container {
  transform: scale(0.8);
}

.modal-leave-active .modal__container {
  transform: scale(0.8);
}