%add-button {
  @include rem("padding", 8px 0);
  @include rem("font-size", 14px);
  @include rem("margin-bottom", 15px);
  border: 1px solid $color-primary;
  color: $color-primary;
  font-weight: $font-weight-light;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: color 500ms;

  &:before {
    @include rem("margin-right", 10px);
    @include rem("font-size", 16px);
    content: $font-icon-add;
    font-family: $font-family-icon;
    position: relative;
    top: 2px;
  }

  &:hover {
    color: lighten($color-primary, 10);
    cursor: pointer;
  }  
}

%table-header {
  @include rem("padding", 8px 5px);
  background: $color-secondary;
  color: #FFFFFF;
  text-align: center;
}

%table-rows {
  @include rem("padding", 4px 0);
    background: lighten($color-secondary, 45);
    text-align: center;
    transition: background 500ms;

    &:nth-child(2n+1) {
      background: lighten($color-secondary, 35);
    }

    &:hover {
      background: lighten($color-secondary, 15);
      cursor: pointer;
    }
}
