// BASE CONFIG
$font-base-px: 16px !default;

// SUSY CONFIGURATION
$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/24 // The size of a gutter in relation to a single column
  );

// COLORS
$color-primary: #131e30;
$color-secondary: #9a812f;

// FONTS
$font-family-base: 'Lato', sans-serif !default;
$font-family-icon: 'icomoon' !default;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-bold: 700;

// ICONS
$font-icon-eggs: '\e900';
$font-icon-add: '\e901';
$font-icon-search: '\e902';